@import url("https://fonts.googleapis.com/css?family=Oswald:300&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin-ext");

body {
    background: #fffae8;
    font-family: "Slabo 27px", serif;
    font-size: 21px;
    line-height: 32px;
    color: #555;
    padding-bottom: 100px;
}

h1 {
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 45px;
}

/* Typography */

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

h2 {
    text-transform: lowercase;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 42px;
    line-height: 60px;
}

h2:first-of-type {
    margin-top: 0px;
}

ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

ul:not(.list-unstyled) li:before {
    content: "—";
    color: rgba(0, 0, 0, 0.2);
    margin-left: -2.8ex;
    padding-right: 1ex;
}

/* Menu */

.menu, .menu-inline {
    text-transform: lowercase;
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    line-height: 60px;
}

.menu a, .menu-inline a {
    color: #444;
}

.menu a:hover, .menu-inline a:hover {
    text-decoration: none;
    color: red;
}

.menu {
    text-align: right;
}

.menu li:after {
    content: "❉";
    padding-left: 25px;
    color: rgba(0, 0, 0, 0.1);
}

body.bio .menu li.bio:after,
body.writings .menu li.writings:after,
body.works .menu li.works:after {
    content: "❉";
    padding-left: 25px;
    color: #555;
}

/* Inline Menu */

.menu-inline {
    margin-top: -35px;
    margin-bottom: 20px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}

.menu-inline li {
    display: inline-block;
}

.menu-inline li:not(:last-child):after {
    content: "/";
    padding-left: 0.5ex;
    padding-right: 0.5ex;
    color: rgba(0, 0, 0, 0.1);
}

body.bio .menu-inline li.bio a,
body.writings .menu-inline li.writings a,
body.works .menu-inline li.works a {
    padding-bottom: 14px;
    border-bottom: 3px solid #555;
}
