<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vít Ondráček</title>
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/lib/fancybox/jquery.fancybox.css" rel="stylesheet" media="screen">
        <link href="/style.css" rel="stylesheet">
        <link href="/ribbon.css" rel="stylesheet">
    </head>
    <body class="{{page.id}}">
        <div class="corner-ribbon top-right">ještě to není hotové</div>
        <div class="container">
            <h1><img id="headerImage" src="/img/head0.png" alt="Vít Ondráček" class="img-responsive"></h1>
            <div class="row">
                <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                    <ul class="menu list-unstyled">
                        <li class="works"><a href="/dilo.html">Dílo</a></li>
                        <li class="bio"><a href="/bio.html">Biografie</a></li>
                        <li class="writings"><a href="/texty.html">Texty</a></li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-8 col-xs-12">
                    <ul class="menu-inline list-unstyled hidden-md hidden-lg">
                        <li class="works"><a href="dilo.html">Dílo</a></li>
                        <li class="bio"><a href="bio.html">Biografie</a></li>
                        <li class="writings"><a href="texty.html">Texty</a></li>
                    </ul>
                    {% if page.date %}
                        <h2>{{ page.title }}</h2>
                        <p class="article-info">
                            {{ page.author}}<!--
                            -->{% if page.source %},
                                {{ page.source }}
                            {% endif %}
                        </p>
                        {{ page.content }}
                    {% else %}
                        {{ content }}
                    {% endif %}
                </div>
            </div>
        </div>
        <script src="/header.js"></script>
        <script src="/analytics.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/lib/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
        <script>
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
        </script>
    </body>
</html>
